<div id="extras" class="row">
  <div class="container">
    <div class="valign-wrapper" style="height: 75vh;">
      <div class="extras-bg-text">
        <h1>Extra Nail Services</h1>
      </div>
    </div>   
  </div>
</div>

<div id="extras-services" class="row">
  <div class="container">
    <div class="col s12 services">
      <div class="col s12 m6 service-1">
        <h4>Nail Care</h4>
        <div class="col s12 prices">
          <br>
          <p>Gel: <b>$30</b></p>
          <p>Gel Manicure: <b>$45</b></p>
          <ul>Dip Powder <b>$45 + Add Ons</b>
            <li><b>Dip Add Ons</b></li>
            <li>Manicure - $15</li>
            <li>Extensions - $10</li>
            <li>Pink and White - $10</li>
          </ul>
        </div>
      </div>

      <div class="col s12 m6 service-2">
        <h4>Extras</h4>
        <div class="col s12 prices">
          <br>
          <p>Polish Change: <b>$10</b></p>
          <p>Toes Polish Change: <b>$15</b></p>
          <p>Dip or Acrylic Soak Off(w/o redone): <b>$15</b></p>
          <p>French: <b>$5</b></p>
          <p>Nail Art: <b>$6 +</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "home/sections/party_info" %>