<div id="mani-pedi" class="row">
  <div class="container">
    <div class="valign-wrapper" style="height: 75vh;">
      <div class="mani-pedi-bg-text">
        <h1>Manicure and Pedicure</h1>
        <hr class="line-title">
      </div>
    </div>   
  </div>
</div>

<div id="mani-pedi-services" class="row">
  <div class="container">
    <div class="col s12 service-intro">
      <p>
        Soirée Nail Bar is now presenting your choice of pure essential oils paired with herbs, 
        Epsom salt soak, and our fragrance-free premium butter cream! This will result in positive 
        physical, emotional and mental health, all while tickling your senses!
      </p>
      <hr>
    </div>

    <div class="col s12 services">
      <div class="col s12 service-1">
        <h4>Essential I</h4>
        <p>
          Enjoy the benefits of an herbal-therapeutic bath and essential oil of your choice. Our natural 
          custom-made sugar scrub exfoliates, leaving your skin feeling noticeably softer!
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$30</b></p>
          <p>Pedi: <b>$45</b></p>
        </div>
      </div>

      <div class="col s12 service-2">
        <h4>Essential II</h4>
        <p>
          All indulgences of Essential I with added hydrating mask treatment wrapped in warm, steamy towels, 
          or smooth and glowing skin!
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$40</b></p>
          <p>Pedi: <b>$55</b></p>
        </div>
      </div>

      <div class="col s12 service-3">
        <h4>Essential III</h4>
        <p>
          A complete and ultimate relaxation experience! All advantages of Essential II. topped off with a warm stone
          massage with our house-blend of hot oils to rejuvenate your feet!
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$50</b></p>
          <p>Pedi: <b>$65</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "home/sections/party_info" %>