<div id="mani-pedi" class="row">
  <div class="container">
    <div class="valign-wrapper" style="height: 75vh;">
      <div class="mani-pedi-bg-text">
        <h1>Manicure and Pedicure</h1>
        <hr class="line-title">
      </div>
    </div>   
  </div>
</div>

<div id="mani-pedi-services" class="row">
  <div class="container">
    <div class="col s12 service-intro">
      <p>
        Soirée Nail Bar is now presenting your choice of pure essential oils paired with herbs, 
        Epsom salt soak, and our fragrance-free premium butter cream! This will result in positive 
        physical, emotional and mental health, all while tickling your senses!
      </p>
      <hr>
    </div>

    <div class="col s12 services">
      <div class="col s12 service-1">
        <h4>Soirée with Paraffin</h4>
        <p>
          Includes nail trimming and shaping, cuticle detailing, lotion massage, sugar scrub exfoliation, hot towel treatment, and your choice of polish. Then finish off with a moisturizing paraffin wax!
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$42</b></p>
          <p>Pedi: <b>$57</b></p>
        </div>
      </div>

      <div class="col s12 service-2">
        <h4>Soirée Jelly</h4>
        <p>
          Includes trimming, shaping, cuticle detailing, callus elimination, and lotion massage, followed by hot towel and your choice of polish. All while your feet soak in a relaxing bath of jelly.
        </p>
        <div class="col s12 prices">
          <br>
          <p>Only Pedi: <b>$62</b></p>
        </div>
      </div>
      <div class="col s12 service-3">
        <h4><b>Organic Services</b></h4>
        <p>
            Featuring products made with organic certified ingredients, not animal tested, and vegan friendly. 
            Choose from twelve different fragrances. Ask about our Nontoxic nail polish collections, including 5-free and 7-free products.
        </p>
      </div>
      <div id="organic-services" class="row">

        <div class="col s12 services">
          <div class="col s12 m6 service-1">
            <h4>Soiree I</h4>
            <p>
              Includes nail trimming and shaping, cuticle detailing, lotion massage, sugar scrub exfoliation,
              hot towel treatment, and your choice of polish.
            </p>
            <div class="col s12 prices">
              <br>
              <p>Mani: <b>$32</b></p>
              <p>Pedis: <b>$47</b></p>
            </div>
          </div>

          <div class="col s12 m6 service-2">
            <h4>Soiree II</h4>
            <p>
              All of the indulgences of the Organic I with added mud mask treatment and massage.
            </p>
            <div class="col s12 prices">
              <br>
              <p>Mani: <b>$42</b></p>
              <p>Pedi: <b>$57</b></p>
            </div>
          </div>

          <div class="col s12 m12 service-3">
            <h4>Soiree III</h4>
            <p>
              The complete and ultimate relaxation experience! All of the advantages of the Organic II,
              topped off with a hot stone massage to leave your feet feeling rejuvenated.
            </p>
            <div class="col s12 prices">
              <br>
              <p>Mani: <b>$52</b></p>
              <p>Pedi: <b>$67</b></p>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 service-3">
        <h4>Pedicure Extras</h4>
        <div class="col s12">
          <br>
          <p>Gel Polish with Pedicure: <b>$30</b></p>
          <p>Paraffin Wax <b>$15</b></p>
          <p>Jelly Bath Foot Soak (Includes 15 min foot soak) <b>$35</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "home/sections/party_info" %>