<div id="mani-pedi" class="row">
  <div class="container">
    <div class="valign-wrapper" style="height: 75vh;">
      <div class="mani-pedi-bg-text">
        <h1>Manicure and Pedicure</h1>
        <hr class="line-title">
      </div>
    </div>   
  </div>
</div>

<div id="mani-pedi-services" class="row">
  <div class="container">
    <div class="col s12 service-intro">
      <p>
        Soirée Nail Bar is now presenting your choice of pure essential oils paired with herbs, 
        Epsom salt soak, and our fragrance-free premium butter cream! This will result in positive 
        physical, emotional and mental health, all while tickling your senses!
      </p>
      <hr>
    </div>

    <div class="col s12 services">
      <div class="col s12 service-1">
        <h4>Soirée with Paraffin</h4>
        <p>
          Includes nail trimming and shaping, cuticle detailing, lotion massage, sugar scrub exfoliation, hot towel treatment, and your choice of polish. Then finish off with a moisturizing paraffin wax!
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$40</b></p>
          <p>Pedi: <b>$55</b></p>
        </div>
      </div>

      <div class="col s12 service-2">
        <h4>Soirée Jelly</h4>
        <p>
          Includes trimming, shaping, cuticle detailing, callus elimination, and lotion massage, followed by hot towel and your choice of polish. All while your feet soak in a relaxing bath of jelly.
        </p>
        <div class="col s12 prices">
          <br>
          <p>Only Pedi: <b>$60</b></p>
        </div>
      </div>

      <div class="col s12 service-3">
        <h4>Classic</h4>
        <p>
          The classic includes trimming, shaping, cuticle detailing, callus elimination, and lotion massage, followed by hot towel and your choice of polish.
        </p>
        <div class="col s12 prices">
          <br>
          <p>Pedi: <b>$35</b></p>
        </div>
      </div>
      <div class="col s12 service-3">
        <h4>Classic Manicure and Pedicure</h4>
        <div class="col s12 prices">
          <br>
          <p>Price: <b>$60</b></p>
        </div>
      </div>
      <div class="col s12 service-3">
        <h4>Check out our <a href="/services/organic" style="color: #940c3b; text-decoration: underline;">Organic Services</a></h4>
      </div>

      <div class="col s12 service-3">
        <h4>Pedicure Extras</h4>
        <div class="col s12">
          <br>
          <p>Gel Polish with Pedicure: <b>$25</b></p>
          <p>Paraffin Wax <b>$10</b></p>
          <p>Jelly Bath Foot Soak (Includes 15 min foot soak) <b>$30</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "home/sections/party_info" %>