<div id="extras" class="row">
  <div class="container">
    <div class="valign-wrapper" style="height: 75vh;">
      <div class="extras-bg-text">
        <h1>Nail Care</h1>
      </div>
    </div>   
  </div>
</div>

<div id="extras-services" class="row">
  <div class="container">
    <div class="col s12 services">
      <div class="col s12 m6 service-1">
        <h4>Nail Care</h4>
        <div class="col s12 prices">
          <br>
          <p>Gel Color (takeoff $5): <b>$40</b></p>
          <p>Gel Manicure (takeoff included): <b>$50</b></p>
          <p>Gel Polish Change on Hands or Toes (takeoff $5): <b>$40</b></p>
          <p>Dip Powder w/Manicure (takeoff included): <b>$65</b></p>
          <p>Dip Powder Change (takeoff $10): <b>$50</b></p>
          <ul>Dip Powder Extras:</ul>
            <li>Extension Tips - +$10</li>
            <li>Special Shape - $10</li>
            <li>Pink & White - $10</li>
            <li>Dip Ombré - $75</li>
          </ul>
          <p>Acrylic (Add Gel Color $25): Full Set <b>$65</b> | Fill <b>$55</b></p>
          <p>Acrylic Pink Powder: Full Set <b>$70</b> | Fill <b>$60</b></p>
          <p>Acrylic Pink & Whites: Full Set <b>$75</b> | Fill <b>$65</b></p>
          <p>Acrylic Ombre: Full Set <b>$80</b></p>
        </div>
      </div>

      <div class="col s12 m6 service-2">
        <h4>Extras</h4>
        <div class="col s12 prices">
          <br>
          <p>Polish Change: <b>$15</b></p>
          <p>Toes Polish Change: <b>$20</b></p>
          <p>Dip or Acrylic Soak Off(w/o redone): <b>$17</b></p>
          <p>French: <b>$10</b></p>
          <p>Nail Art: <b>$10</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "home/sections/party_info" %>