<div id="organic" class="row">
  <div class="container">
    <div class="valign-wrapper" style="height: 75vh;">
      <div class="organic-bg-text">
        <h1>Organic Treatment</h1>
      </div>
    </div>   
  </div>
</div>

<div id="organic-services" class="row">
  <div class="container">
    <div class="col s12 service-intro">
      <p>
        Featuring products made with organic certified ingredients, not animal tested, and vegan friendly. 
        Choose from twelve different fragrances. Ask about our Nontoxic nail polish collections, including 5-free and 7-free products.
      </p>
      <hr>
    </div>

    <div class="col s12 services">
      <div class="col s12 m6 service-1">
        <h4>Organic I</h4>
        <p>
          Includes nail trimming and shaping, cuticle detailing, lotion massage, sugar scrub exfoliation,
          hot towel treatment, and your choice of polish.
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$30</b></p>
          <p>Pedis: <b>$45</b></p>
        </div>
      </div>

      <div class="col s12 m6 service-2">
        <h4>Organic II</h4>
        <p>
          All of the indulgences of the Organic I with added mud mask treatment and massage.
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$40</b></p>
          <p>Pedi: <b>$55</b></p>
        </div>
      </div>

      <div class="col s12 m6 service-2">
        <h4>Organic III</h4>
        <p>
          The complete and ultimate relaxation experience! All of the advantages of the Organic II,
          topped off with a hot stone massage to leave your feet feeling rejuvenated.
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$50</b></p>
          <p>Pedi: <b>$65</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "home/sections/party_info" %>