<div id="organic" class="row">
  <div class="container">
    <div class="valign-wrapper" style="height: 75vh;">
      <div class="organic-bg-text">
        <h1>Organic Services</h1>
      </div>
    </div>   
  </div>
</div>

<div id="organic-services" class="row">
  <div class="container">
    <div class="col s12 service-intro">
      <p>
        Featuring products made with organic certified ingredients, not animal tested, and veganlriendly. 
        Choose from twelve different fragrances including: Hawaiian Orchid, Sweet Melon, Lavender, 
        Matcha Green Tea, Orange Blossom, Spearmint, Raspberry Mimosa, Earl Grey Tea & Charcoal , 
        Creamy Avocado & Pressed Kale, Honey Champagne, Oolong Milk Tea, Passion Fruit Cocktail.
      </p>
      <hr>
    </div>

    <div class="col s12 services">
      <div class="col s12 m6 service-1">
        <h4>Organic Manicure</h4>
        <p>
          Includes trimming, shaping, cuticle detailing, sugar scrub exfoliation, lotion massage,
          mud mask application, hot towel treatment, and your choice of polish.
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$30</b></p>
          <p>Pedi: <b>$45</b></p>
        </div>
      </div>

      <div class="col s12 m6 service-2">
        <h4>Organic Pedicure</h4>
        <p>
          Includes trimming, shaping, cuticle detailing, sea salt foot bath, sugar scrub exfoliation,
          lotion massage, mud mask application, hot towel treatment, and your choice of polish.
        </p>
        <div class="col s12 prices">
          <br>
          <p>Mani: <b>$40</b></p>
          <p>Pedi: <b>$55</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "home/sections/party_info" %>