<div id="wax" class="row">
  <div class="container">
    <div class="valign-wrapper" style="height: 75vh;">
      <div class="wax-bg-text">
        <h1>Waxing & Eyelashes</h1>
      </div>
    </div>   
  </div>
</div>

<div id="wax-services" class="row">
  <div class="container">
    <div class="col s12 services">
      <div class="col s12 m6 service-1">
        <h4>Waxing Services</h4>
        <div class="col s12 prices">
          <br>
          <p>Eyebrow: <b>$17</p>
          <p>Lip: <b>$15</b></p>
          <p>Face: <b>$50</b></p>
          <p>Chin: <b>$17</b></p>
          <p>Arm: <b>$55</b></p>
          <p>Leg: <b>$60</b></p>
          <p>Bikini: <b>$55</b></p>
          <p>Brazil: <b>$75</b></p>
          <p>Back: <b>$45</b></p>
          <p>Ear: <b>$23</b></p>
        </div>
      </div>

      <div class="col s12 m6 service-2">
        <h4>Eyelash Extensions</h4>
        <div class="col s12 prices">
          <br>
          <p>Full Set: <b>$180+</p>
          <p>Fill: <b>$80+</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "home/sections/party_info" %>