<div id="about" class="row">
  <div class="container">
    <div class="col s12 m12 l12">
      <h3>About Us</h3>
      <hr class="line-title">
    </div>
    <div class="col s8 about-text">
      <p>
        Nashville’s premier nail salon, Soiree Nail Lounge offers the finest in top notch nail technicians
        and a beautiful environment that is both relaxing and fun.
      </p>
    </div>
  </div>
</div>