<div id="about" class="row">
  <div class="container">
    <div class="col s12 m12 l12">
      <h3>About Us</h3>
      <hr class="line-title">
    </div>
    <div class="col s8 about-text">
      <p>
        Lavender Nail Bar have been in the business and serving middle Tennessee for over 14 years. 
        We offer all kind of nail care services. We love seeing the beautiful smiles from our customers 
        when they get our great services.
      </p>
    </div>
  </div>
</div>