<div id="contact" class="row">
  <div class="container">
    <div class="col s12 m12 l12 contact-title">
      <h3>Contact Us</h3>
      <hr class="line-title">
    </div>
    <div class="col s8 contact-form">
      
    </div>
  </div>
</div>