<div id="party-info" class="row">
  <div class="container">
    <div class="col s12">
      <p>
      Soiree Nail Bar offers a private party area to accommodate big groups for wedding showers,
      birthdays, baby showers, corporate events, etc. We are offering a complementary bottle of
      champagne for parties of 6 persons or more. We are also a BYOB establishment, and will
      provide champagne or wine glasses, and ice buckets for your event.
      </p>
    </div>
  </div>
</div>