<div id="party-info" class="row">
  <div class="container">
    <div class="col s12">
      <p>Soirée will provide a special room for big group parties, such as weddings, birthdays, baby showers, anniversaries, etc. 
      If it's a birthday party, we can provide a special cake. Any other event has the option of us providing champagne.</p>
    </div>
  </div>
</div>