<div id="services" class="row">
  <div class="container">
    <div class="col s12 m12 l12">
      <h3>Services</h3>
      <hr class="line-title">
    </div>
  </div>
  <div class="col s12 mani-pedi">
    <div class="container">
      <div class="mani-pedi-text">
        <h4>Manicure and Pedicure</h4>
      </div>
    </div>
  </div>

  <div class="col s12 mani-pedi-organic">
    <div class="container">
      <div class="mani-pedi-organic-text">
        <h4>Organic Treatment</h4>
      </div>
    </div>
  </div>

  <div class="col s12 mani-pedi-extras">
    <div class="container">
      <div class="mani-pedi-extras-text">
        <h4>Extra Services</h4>
      </div>
    </div>
  </div>
</div>