<header class="home-bg">
  <div class="container">
    <div class="valign-wrapper" style="height: 100vh;">
      <div class="bg-text">
        <h3>SOIRÉE</h3>
        <h1>
          <a href="" class="typewrite" data-period="2000" data-type='[ "Glamorous", "Divine", "Elegant", "Fancy" ]'>
            <span class="wrap"></span>
          </a>
          Nails
        </h1>
      </div>
    </div>
  </div>
</header>
<section class="mobile-full-width" style="position: fixed; bottom: 0; width: 100%; z-index: 1000;">
    <%= render :partial => "home/sections/party_info" %>
</section>
<%= render :partial => "home/sections/services" %>
<%= render :partial => "home/sections/about" %>
<%= render :partial => "home/sections/contact" %>