<header class="home-bg">
  <div class="container">
  <div class="valign-wrapper" style="height: 100vh;">
    <div class="bg-text">
      <h3>ENRICH CO</h3>
      <h1>
        <span>FANCY</span> NAILS
      </h1>
    </div>
  </div>
  </div>
</header>