@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
// @import "materialize/components/color";
$primary-color: color("purple", "darken-4") !default;
$secondary-color: color("yellow", "base") !default;
$wine: #940c3b;
$black-grey: color("grey", "darken-4") !default;
$white: #fff;
$blue: rgb(13, 85, 137);

@mixin transition($transition...) {
  -moz-transition:    $transition !important;
  -o-transition:      $transition !important;
  -webkit-transition: $transition !important;
  transition:         $transition !important;
}