@import "all";
#contact{
  background: $black-grey;
  
  margin-bottom: 0px;
  .contact-title{
    margin-top: 5%;
    h3{
      color: #fff;
    }
    hr{
      width: 10%;
      background:$wine;
      height: 5px;
    }
  }
  .contact-form{
    margin-top: 5%;
    margin-bottom: 5%;
    .contact-input:focus{
      border-bottom-color: $wine;
      box-shadow: 0 1px 0 0 $wine;
      color: #fff;
    }
    button{
      background: $wine;
      color: #fff;
      font-weight: bold;
      &:hover{
        background: #fff;
        color: $wine;
        font-weight: bold;
      }
    }
  }
  .store-hours, .store-location{
    margin-top:10%;
    color: #fff;
    h4{
      font-size: 25px;
    }
    p.date{
      font-weight: bold;
      color: #cecece;
      letter-spacing: 1px;
    }
    p.hours{
      font-weight: lighter;
      letter-spacing: 1px;
    }
    p.location-title{
      font-weight: bold;
      color: #cecece;
      letter-spacing: 1px;
    }
    p.location-address{
      font-weight: lighter;
      letter-spacing: 1px;
    }
    p.store-number{
      font-weight: lighter;
      letter-spacing: 1px;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}

#map{
  margin-top: 10%;
  margin-bottom: 0px;
  .col{
    padding: 0px;
    margin: 0px;
  }
  .video-container{
    height: 300px;
    padding: 0px;
    iframe{
      height: 300px;
    }
  }
}