// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "all";
@import "services";

header.home-bg{
  background-image: url('/assets/home-bg-1.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: #fff;
  margin-top: -21px;
  .bg-text{
    text-align: left;
    h1{
      background: #fff;
      color: #000;
      padding: 20px 30px;
      margin: 0px;
    }
  }
}