@import "all";

#services{
  margin-top: 5%;
  hr{
    width: 10%;
    background:$wine;
    height: 5px;
  }
  .mani-pedi{
    margin-top: 5%;
    background-image: url('/assets/manicure-pedi-service-img2.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    .mani-pedi-text{
      padding: 13% 0;
      text-align: right;
      h4{
        background: #fff;
        padding: 20px 30px;
        display: inline-flex;
      }
    }
  }
  .mani-pedi-organic{
    border-top:4px solid #fff;
    background-image: url('/assets/manicure-pedi-org-2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    .mani-pedi-organic-text{
      padding: 13% 0;
      text-align: left;
      h4{
        background: #fff;
        padding: 20px 30px;
        display: inline-flex;
      }
    }
  }
  .mani-pedi-extras{
    border-top:4px solid #fff;
    background-image: url('/assets/extras.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    .mani-pedi-extras-text{
      padding: 13% 0;
      text-align: right;
      h4{
        background: #fff;
        padding: 20px 30px;
        display: inline-flex;
      }
    }
  }
}

// Manicure & Pedicure Service Page
#mani-pedi{
  background-image: url('/assets/manicure-pedi-service-img.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 70vh;
  .mani-pedi-bg-text{
    h1{
      margin: 0px;
    }
  } 
}
#mani-pedi-services{
  .service-intro{
    margin-top:10%;
    p{
      font-size: 18px;
      text-align: center;
    }
    hr{
      margin-top: 10%;
      height: 2px;
      background: #cecece;
    }
  }
  .services{
    .prices{
      margin: 0px;
      padding: 0px;
      p{
        display: inline-block;
        font-size: 18px;
      }
    }
    .service-1, .service-2, .service-3{
      margin-top: 5%;
    }
  }
}


//Organic Services
#organic{
  background-image: url('/assets/manicure-pedi-org-2.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  height: 70vh;
  .organic-bg-text{
    h1{
      margin: 0px;
    }
  } 
}
#organic-services{
  .service-intro{
    margin-top:10%;
    p{
      font-size: 18px;
      text-align: center;
    }
    hr{
      margin-top: 10%;
      height: 2px;
      background: #cecece;
    }
  }
  .services{
    .prices{
      margin: 0px;
      padding: 0px;
      p{
        display: inline-block;
        font-size: 18px;
      }
    }
    .service-1, .service-2{
      margin-top: 5%;
    }
  }
}